 img{
  width: 75% !important;
  height: auto !important;
}

ion-col {
  background-color: white;
  border: solid 3px #fff;
  color: #0000;
  text-align: center;
}

.cont{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
}


.tittle{
  padding-left:  15px;
  font-weight: bold;
  color: black;
}
