<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-toolbar color="dark" >
      <ion-title >{{name}}</ion-title>
      <ion-progress-bar type="progress"></ion-progress-bar>
   </ion-toolbar>
   <div class="content">
      <ion-item>
         <ion-label>Pressure (bar)</ion-label>
         <ion-input type="number" value="{{wheelArray[index].pressure}}" (input)="changeValuePressure($event)"></ion-input>
      </ion-item>
      <ion-item >
         <ion-label > Wear (km) </ion-label>
         <ion-input type="number" value="{{wheelArray[index].wear}}" (input)="changeValueWear($event)"></ion-input>
      </ion-item>
      <div class="cont">
         <ion-button color="dark" shape="block" size="small" (click)="openMaps()">Find reseller</ion-button>
      </div>
   </div>
</ion-content>
