<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
   <div class="tittle">
      <ion-text >
         <h3>Rear Left</h3>
      </ion-text>
   </div>
   <ion-item>
     <ion-label>Pressure (bar)</ion-label>
     <ion-input placeholder={{pressure}}></ion-input>
   </ion-item>

      <ion-item >
     <ion-label > Wear (km) </ion-label>
     <ion-input placeholder={{wear}}></ion-input>
   </ion-item>
   <div class="cont">
      <ion-button shape="block" size="small">Find reseller</ion-button>
   </div>
</ion-content>
