<ion-header>
  <ion-toolbar color="dark" >
    <ion-title class="tittle">Wheels Monitor</ion-title>
     {{setColorBarGlob()}}
    <ion-progress-bar type="indeterminate" color="{{toolbarcolor}}"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content padding no-bounce>
   <ion-grid [fixed]="true">
      <ion-row >
         <ion-col>
            <ion-text class="uptext">
               <p> {{frontLeft}} </p>
            </ion-text>
            <img src="assets/images/frontleftt.jpeg" /><br>
            {{setColor(wheelArray[0].pressure,wheelArray[0].wear)}}
            <ion-text>
               <p style="color:{{coloring}};"> {{checkStatus(wheelArray[0].pressure,wheelArray[0].wear)}}</p>
            </ion-text>
            <ion-button color="dark" shape="block" size="small" (click)="openDetailsWithState('Front Left',0)" >Details</ion-button>
         </ion-col>
         <ion-col>
            <ion-text class="uptext">
               <p> {{frontRight}} </p>
            </ion-text>
            <img src="assets/images/roue.jpeg" /> <br>
            <ion-text>
              {{setColor(wheelArray[1].pressure,wheelArray[1].wear)}}
               <p style="color:{{coloring}};" > {{checkStatus(wheelArray[1].pressure,wheelArray[1].wear)}} </p>
            </ion-text>
            <ion-button color="dark"  shape="block" size="small"  (click)="openDetailsWithState('Front Right',1)" >Details</ion-button>
         </ion-col>
      </ion-row>
   </ion-grid>
   <ion-grid [fixed]="true">
      <ion-row>
         <ion-col>
            <ion-text class="uptext">
               <p>{{rearLeft}} </p>
            </ion-text>
            <img src="assets/images/frontleftt.jpeg" /><br>
            <ion-text>
               {{setColor(wheelArray[2].pressure,wheelArray[2].wear)}}
               <p style="color:{{coloring}};"> {{checkStatus(wheelArray[2].pressure,wheelArray[2].wear)}} </p>
            </ion-text>
            <ion-button color="dark" shape="block" size="small" (click)="openDetailsWithState('Rear Left',2)">Details</ion-button>
         </ion-col>
         <ion-col>
            <ion-text class="uptext">
               <p> {{rearRight}} </p>
            </ion-text>
            <img src="assets/images/roue.jpeg" /><br>
            <ion-text>
              {{setColor(wheelArray[3].pressure,wheelArray[3].wear)}}
               <p style="color:{{coloring}};"> {{checkStatus(wheelArray[3].pressure,wheelArray[3].wear)}}</p>
            </ion-text>
            <ion-button color="dark"  shape="block" size="small" (click)="openDetailsWithState('Rear Right',3)" >Details</ion-button>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>
