img{
 width: 70% !important;
 height: auto !important;

}

ion-col {
 background-color: white;
 border: solid 3px #fff;
 color: #0000;
 text-align: center;
}

.uptext{
 text-align: left;
 color: black;
}

p{
 color :black;
}

.tittle{
  padding-left:  15px;
}
